.center {
    text-align: center;
}
.blue {
    color : #204d74;
}
.cyan {
    color : #00a4c2;
}
.red {
    color : #ac2925;
}
.green {
    color : #449d44;
}
.bold {
    font-weight: bold;
}
/*RECHERCHE*/
.glyphicon.glyphicon-heart.active {
    color : #ac2925;
}
.glyphicon.glyphicon-user.active {
    color : #ffcd0e;
}
.hover-fav {
    float: right;
}
.hover-fav:hover {
    font-size: 1.05em;
    text-shadow: 0px 0px 10px rgb(158, 200, 212);
}
.hover-grp {
    float: right;
}
.hover-grp:hover {
    font-size: 1.05em;
    text-shadow: 0px 0px 10px rgb(158, 200, 212);
}
.pointer {
    cursor: pointer;
}
.display {
    display: none;
}
.user-container {
    padding: 175px 15px;
}
.list-group-item.active {
    background-color: #f03250!important;
    border-color: #f03250!important;
}
.btn-profil {
    width: 250px;
    margin-bottom: 15px;
}
.nav-link {
    color: #707070;
}
.list-group {
    font-size: 15px;
}
.list-group-item {
    padding: .5rem 1rem!important;
}
.content {
    position: relative;
    width: 50%;
}
.img-advt {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 5%;
    left: 11%;
    transform: translate(1%, 1%);
    -ms-transform: translate(1%, 1%);
    text-align: center;
}
.content:hover .img-advt {
    opacity: 0.6;
}
.content:hover .middle {
    opacity: 1;
}
.view-advt {
    position: relative!important;
    top:5%!important;
    left:5%!important;
    width: 90%!important;
    float: left;
    margin-bottom: 3px;
}
.btns-advt {
    height: 44px!important;
    width: 44px!important;
    font-size: 1.4em!important;
}
@media only screen and (max-width: 767px) {
    .user-container {
        padding: 140px 15px;
    }
}
